* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #eae7e8;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: rgb(154, 9, 146);
    font-size: 2.5rem;
    margin: 2% auto;
}

.color-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 0.7rem;
    position: absolute;
    width: 97vw;
    margin-left: 2.7vw;
    column-gap: 1rem;

    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */

}

.color-item {
    background-color: antiquewhite;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    position: relative;
}

.btn {
    background-color: #b5b4b4;
    padding: 0.5rem 0.6rem;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    width: 1rem;
    height: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    

}

.btn::after{
    content: "";
        position: absolute;
        background-color: rgb(184, 182, 182);
        left:  3px;
        height: 100%;
        width: 100%;
        border: none;
        top: 3px;
        z-index: 3;
        border-top: 1px solid #3e3d3d;
        border-left: 1px solid #3e3d3d;

    }
    
    .btn:active {
        border: 2px transparent solid;
}